aside{
    width: 35%;
    float: left;
}
aside img{
    width: 150px ;
    display: block;
    margin: auto;
}

aside p {
    color: black;
    font-size: 8px;
    font-family: Volkhov, Arial, serif;
    display: block;
    margin: auto;
}


body {
    background-color: #FFFDEC;
    clear: left;
}

 a:visited {
    text-decoration: none;
    color: black;
    font-size: 8px;
    font-family: Volkhov, Arial, serif;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 8px;
    font-family: Volkhov, Arial, serif;
}

h1 {
    color: #92327C;
    font-size: 55px;
    font-family: Volkhov, Arial, serif;
    text-align: center;
    border-width:5px;	
    border-style:double;
    border-color: #F18B4C;
    padding: 35px;
    display: block;
    margin: auto;
}

h2 {
    border-color: #3D55A5;
    border-radius: 3px;
    background-color: #A2B4F1;
    font-family: Pacifico, Arial, serif;
    font-size: 25px;
    color: #3D55A5;
    padding: 5px;
    width:100%;
    
    
}

article p{
    color: #1D1C1E;
    font-size: 14px;
    font-family: Volkhov, Arial, serif;
    display: block;
    text-align: justify;
    padding: 6px;
    margin-top: -8px;
}

.poster {
    border: 3px;
    border-color: #92327C;
    margin: auto;
    
}


td img {
    width: 200px;
    height: 200px;
    margin: 2px;
}

iframe{ 
    border-width:5px;	
    border-style:double;
    border-color: #F18B4C;
    margin: auto;
    display: block;
}

th{
    color: #F18B4C;
    font-size: 22px;
    font-family: Volkhov, Arial, serif;
}

li{ 
    font-family: Volkhov, Arial, serif;
    color: #3D55A5;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 5px;
}



footer{
   color: #1D1C1E;
    font-size: 14px;
    font-family: Volkhov, Arial, serif;
    background-color: #A2B4F1;
    display: block;
    text-align: justify;
    padding: 6px;
    clear: left;
 
}

#reference{
    margin-top: -10px;
}

#facebook{
    text-align: center;
}

footer img{
    width: 10%;
}